<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>payment</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:beans.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>callbackServlet</servlet-name>
    <servlet-class>com.casit.tee686.pay.servlet.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>callbackServlet</servlet-name>
    <url-pattern>/servlet/CallbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>notifyReceiverServlet</servlet-name>
    <servlet-class>com.casit.tee686.pay.servlet.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>notifyReceiverServlet</servlet-name>
    <url-pattern>/servlet/NotifyReceiverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userloginServlet</servlet-name>
    <servlet-class>com.casit.tee686.pay.servlet.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userloginServlet</servlet-name>
    <url-pattern>/UserloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userRegisterServlet</servlet-name>
    <servlet-class>com.casit.tee686.pay.servlet.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userInfoServlet</servlet-name>
    <servlet-class>com.casit.tee686.pay.servlet.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>